.navbar{
  font-size: 1.5em;
 }

.navlink {
  display: inline;
  list-style: none;
  color: $gray;
    a {
      color: $gray;
      padding: 0 10px;
      margin: 0 5px;
      &:hover{
        color: $lt-gray;
        text-decoration: none;
      }
    }
}

  .brand{
    display: inline;
    list-style: none;
    margin: 0 5px 0 0;
    padding-left: 0 10px 0 0;
      a {
      color: $dk-gray;
      &:hover{
        color: $gray;
        text-decoration: none;
      }
    }
  }