@font-face {
  font-family: 'cocogoose';
  src: url('../fonts/cocogoose/cocogoose_trial-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/cocogoose/cocogoose_trial-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cocogoose/cocogoose_trial-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cocogoose/cocogoose_trial-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cocogoose/cocogoose_trial-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

.cocogoose {
  font-family: 'cocogoose', helvetica, arial, sans serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'cocogoose', helvetica, arial, sans serif;
}

.centered{
  text-align: center;
}

//color
.black {
  color: $black;
}

.dk-gray{
  color: $dk-gray;
}

.gray{
  color: $gray;
}

.lt-gray{
  color: $lt-gray;
}



//sizing
.large {
  font-size: 1.5em;
}

.extra-large {
  font-size: 6em;
}
