@font-face {
  font-family: 'cocogoose';
  src: url('../fonts/cocogoose/cocogoose_trial-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/cocogoose/cocogoose_trial-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cocogoose/cocogoose_trial-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cocogoose/cocogoose_trial-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cocogoose/cocogoose_trial-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'cocogoose', helvetica, arial, sans serif;
}

.cocogoose {
  font-family: 'cocogoose', helvetica, arial, sans serif;
}

.large {
  font-size: 1.5em;
}